.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 300px;
  width: 200px;
  border: 1px solid green;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;

  &-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  &:hover {
    background-color: aqua;
  }
}
